@model ViewModel.Product

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="product">

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="tbl">
                    <div class="tbl-row">
                        <div class="tbl-cell main-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="main-detail">
                                        <div class="main-detail-blocks-wrapper">
                                            <div class="main-detail-block main-detail-body">
                                                <div class="txt">
                                                    <h4 class="txt-brand-color-lightviolet">@Model.Title</h4>
                                                    <p class="text-justify">
                                                        @Model.Description
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="main-detail main-detail-features">
                                                <div class="main-detail-blocks-wrapper">
                                                    <div class="main-detail-block">
                                                        <div class="txt">
                                                            <div class="icon-wrapper">
                                                                <span class="glyphicon glyphicon-briefcase icon"
                                                                      aria-hidden="true"></span>
                                                            </div>
                                                            <h4 class="txt-brand-color-lightviolet">
                                                                @Model.ImportantTip1
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="main-detail main-detail-features">
                                                <div class="main-detail-blocks-wrapper">
                                                    <div class="main-detail-block">
                                                        <div class="txt">
                                                            <div class="icon-wrapper">
                                                                <span class="glyphicon glyphicon-fire icon"
                                                                      aria-hidden="true"></span>
                                                            </div>
                                                            <h4 class="txt-brand-color-lightviolet">
                                                                @Model.ImportantTip2
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="main-detail main-detail-features">
                                                <div class="main-detail-blocks-wrapper">
                                                    <div class="main-detail-block">
                                                        <div class="txt">
                                                            <div class="icon-wrapper">
                                                                <span class="glyphicon glyphicon-leaf icon"
                                                                      aria-hidden="true"></span>
                                                            </div>
                                                            <h4 class="txt-brand-color-lightviolet">
                                                                @Model.ImportantTip3
                                                            </h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="gallery">
                                        <div class="gallery-blocks-wrapper">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-6 col-md-push-6">
                                                    <div class="gallery-block gallery-img">
                                                        <div class="img"
                                                             style="background-image: url('@Url.Content(Model.Images[0])')"
                                                             data-toggle="modal" data-target="#lightbox"></div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-md-pull-6">
                                                    <div class="gallery-block gallery-thumbnail">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[0])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[1])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[2])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[3])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[4])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[5])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[6])')"></div>
                                                            </div>
                                                            <div class="col-xs-3">
                                                                <div class="img"
                                                                     style="background-image: url('@Url.Content(Model.Images[7])')"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="description">
                                        <div class="description-blocks-wrapper">
                                            <div class="description-block">
                                                @foreach (var item in Model.ProductFeature)
                                                {
                                                    <div class="txt-left-plus-icon">
                                                        <span class="glyphicon glyphicon glyphicon-paperclip txt-brand-color-lightviolet pull-right"
                                                              style="margin-left: 10px;"></span>
                                                        <p class="bold txt-brand-color-lightviolet">@item.Title</p>
                                                    </div>
                                                    <div class="txt">
                                                        @item.Description
                                                    </div>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section PageName
{
    معرفی محصول
}
@section Scripts{
    <script>
        $(document).ready(function () {
            var galleryImg = $(".gallery-img .img");

            function applyBackImg(from, to) {
                to.css('background-image', from.css('background-image'));
            }

            $('.gallery-thumbnail .img').click(function () {
                applyBackImg($(this), galleryImg)
            });

            $('#lightbox').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var lightbox = $(this);
                var lightboxImg = lightbox.find('.lightbox-img .img');
                var lightboxThumbnail = lightbox.find('.lightbox-thumbnail .img');

                applyBackImg(button, lightboxImg);

                lightboxThumbnail.click(function () {
                    applyBackImg($(this), lightboxImg);
                })

            })
        });


    </script>
    
}